#title {
	font-family: 'Fredoka One', cursive;
	font-size: 40px;
	color: white;
	position: fixed;
	top: 10%;
	left: 35%;
}

.postsWrapper {
	overflow-y: scroll;
	scrollbar-width: thin;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: flex-start;
	justify-content: space-evenly;
	font-size: 40px;
	/* border: 5px solid white; */
	border-radius: 75px;
	position: fixed;
	height: 600px;
	width: 750px;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Fredoka One', cursive;
}

.posts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-size: 12px;
	border: 3px solid white;
	border-radius: 30px;
	min-height: 120px;
	overflow: hidden;
	width: 500px;
	left: 10%;
}
