#title {
	font-family: 'Fredoka One', cursive;
	font-size: 40px;
	color: white;
	position: absolute;
	left: 750px;
	top: 100px;
}

.center {
	/* border: 3px solid hotpink; */
	overflow-y: scroll;
	scrollbar-width: thin;
	position: absolute;
	left: 500px;
	top: 150px;
	height: 700px;
	width: 700px;
	/* display: flex-start;
	flex-direction: column;
	justify-content: center; */
	/* align-items: center; */
}

.container {
	border: 5px solid yellow;
	/* position: absolute; */
	/* left: 150px;
	top: 150px; */
	/* height: 600px; */
	/* width: 650px;
	display: block;
	margin: 20px 55px; */
}

.post {
	border: 3px solid white;
	border-radius: 30px;
	min-height: 160px;
	overflow: hidden;
	/* width: 575px; */
	display: block;
	/* justify-content: center; */
	margin: 10px;
	/* position: relative; */
}

.textWrapper {
	color: white;
	/* border: 1px solid blue; */
	width: 520px;
	min-height: 130px;
	position: absolute;
	/* justify-content: center; */
	/* left: 10px; */
	margin: 5px;
}

.userName {
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
	color: white;
	/* font-weight: bold; */
	/* position: absolute; */
	/* border: 3px solid yellow; */
	/* left: 10px;
	top: 10px; */
	margin: 10px;
}

.userText {
	font-family: 'Fredoka One', cursive;
	font-size: 13px;
	color: white;
	/* position: absolute; */
	/* border: 3px solid hotpink; */
	margin: 15px;
	/* left: 225px;
	top: px; */
}
.buttonWrapper {
	/* border: 3px solid yellow; */
	display: flex;
	position: absolute;
	bottom: 0;
	width: 500px;
	justify-content: space-around;
	margin: 2px;
}

.button {
	padding: 3px 12px;
	border-radius: 10px;
	overflow: hidden;
	color: #37ecba;
	border: none;
	background-color: white;
	/* font-weight: bold; */
	margin: 15px;
}

.button:hover {
	background-color: #37ecba;
	color: white;
}
