#title {
	font-family: 'Fredoka One', cursive;
	font-size: 40px;
	color: white;
	position: fixed;
	top: 8%;
	left: 52%;
}

.postsWrapper {
	overflow-y: scroll;
	scrollbar-width: thin;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: flex-start;
	justify-content: space-evenly;
	font-size: 40px;
	/* border: 5px solid white; */
	border-radius: 75px;
	position: fixed;
	height: 600px;
	width: 750px;
	top: 54%;
	left: 60%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Fredoka One', cursive;
	margin: 5px;
}

.posts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-size: 12px;
	border: 3px solid white;
	border-radius: 30px;
	min-height: 120px;
	overflow: hidden;
	width: 500px;
	left: 10%;
	margin: 5px
}
.button {
    padding: 8px 20px;
    border-radius: 10px;
    overflow: hidden;
    color: #37ecba;
    border: none;
    background-color: white;
    font-weight: bold;
    /* position: fixed;
    top: 325px;
    left: 40%; */
	margin-bottom: 4.5px;
}

.button:hover {
    background-color: #37ecba;
    color: white;
}