/* body {
	min-height: 100vh;
} */

.userProfile {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-around; */
	font-size: 40px;
	border: 5px solid white;
	border-radius: 75px;
	position: fixed;
	height: 600px;
	width: 380px;
	top: 500px;
	left: 100px;
	transform: translate(-20%, -50%);
	color: white;
	font-family: 'Fredoka One', cursive;
}

.avatarPlacement {
	position: absolute;
	top: 15%;
}

.edit {
	font-family: 'Fredoka One', cursive;
	font-size: 15px;
	color: white;
	position: absolute;
	/* height: 10%;
	width: 25%; */
	top: 58%;
	left: center;
	/* transform: translate(-50%, -50%); */
}

.toggle {
	font-family: 'Fredoka One', cursive;
	font-size: 15px;
	color: white;
	position: absolute;
	/* height: 10%;
	width: 25%; */
	top: 95%;
	left: 10%;
	/* transform: translate(-50%, -50%); */
}

.formPlacement {
	position: absolute;
	top: 100%;
}
/* .input {
	border: 3px solid white;
	border-radius: 75px;
	padding: 3px;
	margin: 3px;
} */

/* .label {
	font-family: 'Fredoka One', cursive;
	font-size: 18px;
} */

/* .button {
	padding: 8px 20px;
	border-radius: 10px;
	overflow: hidden;
	color: #37ecba;
	border: none;
	background-color: white;
	font-weight: bold;
}

.button:hover {
	background-color: #37ecba;
	color: white;
}

.logo {
	color: white;
	font-family: 'Fredoka One', cursive;
	font-size: 50px;
	padding: 10px 20px;
} */
