/* avatarLocation will change with every use */
/* .avatarLocation {
	position: absolute;
	top: 35%;
	left: 20%;
} */

.avatarWrapper {
	height: 200px;
	width: 200px;
	padding: 20px;
	border: 5px solid white;
	border-radius: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatarName {
	color: white;
	font-family: 'Fredoka One', cursive;
	font-size: 25px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatarImage {
	width: 40%;
	height: 40%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.button {
    padding: 8px 20px;
    border-radius: 10px;
    overflow: hidden;
    color: teal;
    border: none;
    background-color: lightgray;
    font-weight: bold;
    /* position: fixed; */
    /* top: 325px;
    left: 40%; */
}

.button:hover {
    background-color: #37ecba;
    color: white;
}

.changename {
	font-size: 18px;
	color: white;
}