/* .avatarLocation {
	position: absolute;
	top: 35%;
	left: 20%;
} */

.avatarWrapper {
	height: 50px;
	width: 100px;
	padding: 5px;
	/* border: 5px solid white; */
	border-radius: 75px;
	display: flex;
	/* flex-direction: column; */
	/* justify-content: center;
	align-items: center; */
}

.avatarName {
	color: white;
	font-family: 'Fredoka One', cursive;
	/* font-size: 25px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.avatarImage {
	/* width: 100px;
	height: 100px; */
	/* padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}
