/* div around logo and blurb */
.homeBrand {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	/* margin: 30px;
	padding: 10px; */
	width: 80%;
	height: 1000px;
}
/* 'antiSocial' */
.homeLogo {
	color: white;
	font-family: 'Fredoka One', cursive;
	font-size: 75px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: absolute;
	height: 50%;
	width: 50%;
	top: 0;
	left: 0;
}

/* 'a place to be alone, together.' */
.homeBlurb {
	color: white;
	font-family: 'Fredoka One', cursive;
	font-size: 35px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	height: 50%;
	width: 50%;
	bottom: 0;
	right: 0;
}

/* alternative color for text 
#e9f5e4 */
