body {
	min-height: 100vh;
}

#title {
	font-family: 'Fredoka One', cursive;
	font-size: 40px;
	color: white;
	position: fixed;
	top: 32%;
	left: 32%;
}

.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-size: 30px;
	border: 5px solid white;
	border-radius: 75px;
	position: fixed;
	height: 40%;
	width: 25%;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Fredoka One', cursive;
}

.inputContainer {
	border: 5px solid yellow;
	display: flex;
	height: 175px;
	width: 350px;
	position: fixed;
	left: 15px;
	top: 80px;
	flex-direction: column;
}

.input {
	border: 3px solid white;
	border-radius: 75px;
	padding: 5px;
	margin: 20px 10px;
	display: inline-flex;
	justify-content: flex-end;
}

.label {
	font-family: 'Fredoka One', cursive;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.button {
	padding: 8px 20px;
	border-radius: 10px;
	overflow: hidden;
	color: #37ecba;
	border: none;
	background-color: white;
	font-weight: bold;
	position: fixed;
	top: 325px;
	left: 40%;
}

.button:hover {
	background-color: #37ecba;
	color: white;
}

.logo {
	color: white;
	font-family: 'Fredoka One', cursive;
	font-size: 50px;
	padding: 10px 20px;
}
