#title {
	font-family: 'Fredoka One', cursive;
	font-size: 40px;
	color: white;
	position: absolute;
	left: 375px;
	top: 100px;
}

.center {
	/* border: 5px solid hotpink; */
	overflow-y: scroll;
	scrollbar-width: thin;
	position: absolute;
	left: 150px;
	top: 150px;
	height: 800px;
	width: 700px;

	/* border-radius: 75px; */
	/* display: flex-start; */
	/* flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
}

.container {
	/* border: 5px solid yellow; */
	/* position: absolute;
	left: 150px;
	top: 150px; */
	height: 600px;
	width: 650px;
	display: block;
	margin: 20px 55px;
}

.post {
	border: 3px solid white;
	border-radius: 30px;
	min-height: 180px;
	overflow: hidden;
	width: 575px;
	display: flex;
	justify-content: flex-start;
	margin: 10px;
}

.text {
	color: white;
	font-size: 15px;
	/* border: 1px solid blue; */
	margin: 5px 35px 5px 35px;
}

.edits {
	/* float: left; */
	/* background-color: grey; */
	/* display:inline-block; */
	/* padding: 20px; */
	margin: 10px;
	list-style-type: none;
	/* display: inline-block; */
	border: 10px solid;
	padding: 10px;
	/* width: 200px;
    height: 100px; */
	border-radius: 6%;
}

.button {
	padding: 5px 15px;
	border-radius: 10px;
	overflow: hidden;
	color: #37ecba;
	border: none;
	background-color: white;
	/* font-weight: bold; */
	margin: 10px;
}

.button:hover {
	background-color: #37ecba;
	color: white;
}
