
*{
    font-family: 'Fredoka One', cursive;

}


.h3{
    float: left;
    /* background-color: grey; */
    /* display:inline-block; */
    /* padding: 20px; */
    margin: 10px;
    list-style-type: none;
    /* display: inline-block; */
    /* border: 10px solid; */
    /* padding:10px; */
    width: 100px;
    height: 70px;
    border-radius: 6%;


}#title {
	font-family: 'Fredoka One', cursive;
	font-size: 40px;
	color: white;
	position: fixed;
	top: 10%;
	left: 35%;
}

.avatar {
    max-width: 30px;
}

.displayWrapper {
	display: flex;
	/* flex-direction: column; */
	/* align-items: centered; */
	/* justify-content: space-around; */
	border: 5px solid white;
	border-radius: 75px;
	position: fixed;
	height: 700px;
	width: 1100px;
	top: 55%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.usersContainer {
	position: fixed;
	height: 650px;
	width: 800px;
	top: 52%;
	left: 52%;
	/* margin: 10px; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	transform: translate(-50%, -50%);
}

.button {
    padding: 8px 20px;
    border-radius: 10px;
    overflow: hidden;
    color: #37ecba;
    border: none;
    background-color: white;
    font-weight: bold;
    /* position: fixed; */
    /* top: 325px;
    left: 40%; */
}

.button:hover {
    background-color: #37ecba;
    color: white;
}
