.displayWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-around; */
	font-size: 40px;
	border: 5px solid white;
	border-radius: 75px;
	position: fixed;
	height: 600px;
	width: 1000px;
	top: 55%;
	left: 40%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Fredoka One', cursive;
}

.userWrapper {
}
